footer {
    background-color: #111;
    padding: 20px 0;
  }
  
  .footerContainer {
    width: 100%;
    padding: 20px 10px;
    text-align: center;
  }
  
  .socialIcons {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 10px;
  }
  
  .socialIcons a {
    text-decoration: none;
    padding: 8px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .socialIcons a:hover {
    background-color: #111;
    transition: 0.5s;
  }
  
  .footerText p {
    color: white;
    opacity: 0.8;
    margin: 3px 0;
    font-size: 0.9em;
  }
  
  .footerText a {
    color: white;
    text-decoration: none;
    opacity: 0.8;
    transition: 0.3s;
  }
  
  .footerText a:hover {
    opacity: 1;
  }
  